<div class="row">
    <div class="col">

        <table class="table table-sm">

            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Skill</th>
                <th scope="col">Training</th>
                <th scope="col">Experience</th>
            </tr>
            </thead>


            <thead class="thead-light">
            <tr>
                <th colspan="5">Tor</th>

            </tr>
            </thead>

            <tbody id="goalBody">
            </tbody>

            <thead class="thead-light">
            <tr>
                <th colspan="5">Abwehr</th>
            </tr>
            </thead>

            <tbody id="defenceBody">
            </tbody>

            <thead class="thead-light">
            <tr>
                <th colspan="5">Mittelfeld</th>

            </tr>
            </thead>

            <tbody id="middfieldBody">
            </tbody>

            <thead class="thead-light">
            <tr>
                <th colspan="5">Sturm</th>
            </tr>
            </thead>

            <tbody id="strikerBody">
            </tbody>

        </table>

    </div>
</div>
